{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
    <img alt="Cassandra" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAACAElEQVRIie3VS4hOYRzH8c+8YkjGYDAbFpoZJJcJC6XYzM6lLCTZka2NsnBJKZKQS1IWKErJwqWk3FbCwmVBCSmSxkKjRCSvxfmfnDnzvued90WzmV+dnvP8L8/36f+c/3MY1hBpLDbhBM5gNxb/D9BmvMIVrENHwFswDz1Yhgl/C2rHGzzCxEHEd2JaZj45Ny/UDJRxso4NZkHwMNaoqeYIvNAADGbGeC8DHKOgSrfxsoK9hEO4LynzNSzJxfQE5B364v1ZjOcqweaHc1XOvhw/wvcWz+O9jFOZuDZswd2M/wX2Ym4l4OPYWVatkfgJ3Tnf+fBtz9n3hP0XnlQCQVPAjubsaUlaquRdD39rzNOy3sB6A6vQT2VsyG3iK/ZVS8BozMbImI/CQcmZwwFVPpgpBp7fiLCtLgAWqVTkbI/F12RsTWFb2yBwXJEzXXxrztaHiwV5XXgdY17TawE/407Ofik2srJKXtpvzRV8Ne/XtL/yge/xE6clZ12SlPlDxOfbheT8x9cCLo0Fzubsk3DLn2ZOny8GXhKpttWCpXoQi1W6GbqwA/v1/7jyWihpj0GpLYDfVG/2InVIrrK6tCig37GgjrwVOF4vLFWn5IzKuIk5BbHdeIqNjcKy2oneAH+U9ORhHJH8onpxGVP/BSyrWdgl6curOCYp4bCGXr8BrHF1XeEAlBEAAAAASUVORK5CYII="/>
    {% endset %}
    {% set text %}
    {{ collector.commands | length }} commands (avg : {{ collector.avgexecutiontime|number_format(4) }} - total : {{ collector.totalexecutiontime|number_format(4) }})
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': true } %}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    <span class="label">
    <span class="icon"><img alt="Cassandra" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAACAElEQVRIie3VS4hOYRzH8c+8YkjGYDAbFpoZJJcJC6XYzM6lLCTZka2NsnBJKZKQS1IWKErJwqWk3FbCwmVBCSmSxkKjRCSvxfmfnDnzvued90WzmV+dnvP8L8/36f+c/3MY1hBpLDbhBM5gNxb/D9BmvMIVrENHwFswDz1Yhgl/C2rHGzzCxEHEd2JaZj45Ny/UDJRxso4NZkHwMNaoqeYIvNAADGbGeC8DHKOgSrfxsoK9hEO4LynzNSzJxfQE5B364v1ZjOcqweaHc1XOvhw/wvcWz+O9jFOZuDZswd2M/wX2Ym4l4OPYWVatkfgJ3Tnf+fBtz9n3hP0XnlQCQVPAjubsaUlaquRdD39rzNOy3sB6A6vQT2VsyG3iK/ZVS8BozMbImI/CQcmZwwFVPpgpBp7fiLCtLgAWqVTkbI/F12RsTWFb2yBwXJEzXXxrztaHiwV5XXgdY17TawE/407Ofik2srJKXtpvzRV8Ne/XtL/yge/xE6clZ12SlPlDxOfbheT8x9cCLo0Fzubsk3DLn2ZOny8GXhKpttWCpXoQi1W6GbqwA/v1/7jyWihpj0GpLYDfVG/2InVIrrK6tCig37GgjrwVOF4vLFWn5IzKuIk5BbHdeIqNjcKy2oneAH+U9ORhHJH8onpxGVP/BSyrWdgl6curOCYp4bCGXr8BrHF1XeEAlBEAAAAASUVORK5CYII="/></span>
    <strong>Cassandra</strong>
    <span class="count">
        <span>{{ collector.commands|length }}</span>
    </span>
</span>
{% endblock %}

{% block panel %}
    <h2>Cassandra</h2>
    <p>avg : {{ collector.avgexecutiontime|number_format(4) }} - total : {{ collector.totalexecutiontime|number_format(4) }}</p>

    <table class="routing inline">
        <thead>
            <tr>
                <th rowspan="2">Keyspace</th>
                <th rowspan="2">Command</th>
                <th rowspan="2">Argument</th>
                <th rowspan="2">Execution time</th>
                <th colspan="4">Execution options</th>
            </tr>
            <tr>
                <th><abbr title="Consistency">Cons.</abbr></th>
                <th>Serial <abbr title="Consistency">Cons.</abbr></th>
                <th>Page size</th>
                <th>Timeout</th>
            </tr>
        </thead>
        <tboby>`
        {% for command in collector.commands %}
            <tr>
                <td>{{ command.keyspace }}</td>
                <td>{{ command.command }}</td>
                <td>
                    {% if command.argument == 'Statement' %}
                        <strong>{{ command.argument }}</strong> with arguments :
                        <br />
                        <pre>{{ command.options['arguments'] }}</pre>
                    {% else %}
                        {{ command.argument }}
                    {% endif %}
                </td>
                <td>{{ command.executionTime|number_format(6) }}</td>
                <td>{{ command.options['consistency'] }}</td>
                <td>{{ command.options['serialConsistency'] }}</td>
                <td>{{ command.options['pageSize'] }}</td>
                <td>{{ command.options['timeout'] }}</td>
            </tr>
        {% endfor %}
        </tboby>
    </table>
{% endblock %}
